<div class="o_step $feedbackCssClass">
    <div class="o_bar"></div>
    <div class="o_step_block">
        <div class="o_header">
            <h4 class="o_title">
                <a href="#o_step_feedback_content" data-toggle="collapse" aria-expanded="$collapse_feedback" #if(!$isFeedbackActive) class="collapsed" #end>
                    $r.translate("run.feedback.header")
                </a>
            </h4>
        </div>
        <div id="o_step_feedback_content" class="o_content collapse #if($isFeedbackActive) in #end" aria-expanded="$collapse_feedback" role="region">
          #if($isPeerReviewDeadlineMissed)
            <div>$r.translate("run.feedback.peerreview.deadline.missed")</div>
          #elseif(!$areAllPeerReviewsFinallySubmitted || !$arePeerReviewsAssigned)
            <div>$r.translate("run.feedback.peerreview.not.finally.submitted")</div>
          #else
            <div>$r.translate("run.feedback.introduction")</div>
            <br/>
            <div>$r.render("feedbackTable")</div>
          #end
        </div>
    </div>
</div>
<script>
    jQuery('#o_step_feedback_content').on('hide.bs.collapse', function () {
        $r.backgroundCommand("hide","step","feedback")
    }).on('show.bs.collapse', function () {
        $r.backgroundCommand("show","step","feedback");
    })
</script>
