<legend>$r.translate("run.coach.administration.peerreview.header")</legend>
#if(!$isSubmitDeadlineOver)
    <div class="o_warning">$submitDeadlineNotOverYetWarning</div>
#end
#if($isSubmitDeadlineOver && !$isAssignmentPossible)
    <div class="o_warning">$assignmentNotPossibleWarning</div>
#end
#if($isSubmitDeadlineOver && $isAssignmentPossible && !$isAssigned)
    <div class="o_info">$assignmentInfoMessage</div>
    <div class="o_button_group o_button_group_left">$r.render("run.coach.administration.peerreview.button")</div>
#end
#if($isSubmitDeadlineOver && $isAssignmentPossible && $isAssigned)
    $assignedMessage<br/>
    <br/>
    $r.render("assignmentTable")
#end


