<div class="o_step $taskCssClass">
    <div class="o_bar"></div>
    <div class="o_step_block">
        <div class="o_header">
            <h4 class="o_title">
                <a href="#o_step_task_content" data-toggle="collapse" aria-expanded="$collapse_task" #if($isAfterTaskDueDate) class="collapsed" #end>
                    $r.translate("run.task.header")
                </a>
            </h4>
        </div>
        <div id="o_step_task_content" class="o_content collapse #if(!$isAfterTaskDueDate) in #end" aria-expanded="$collapse_task" role="region">
            #if($isBeforeStartDate)
                $isBeforeStartDateMessage
            #else
                $description
                <hr/>
                <b>$r.translate("run.task.available.qti.types.label"):</b> $allowedQTITypeLabelsAsString $r.contextHelpWithWrapper("uzh_additions/question_creation/question_types")
            #end
        </div>
    </div>
</div>
<script>
  jQuery('#o_step_task_content').on('hide.bs.collapse', function () {
    $r.backgroundCommand("hide","step","task")
  }).on('show.bs.collapse', function () {
    $r.backgroundCommand("show","step","task");
  })
</script>
