<!-- template is copied from 'submission_task_run.html' and differs only in die content part (which is read only for coach) -->
<div class="o_step $submissionCssClass">
  <div class="o_bar"></div>
  <div class="o_step_block">
    <div class="o_header">
      <h4 class="o_title">
        <a href="#o_step_submission_task_content" data-toggle="collapse" aria-expanded="$collapse_submission_task" #if($isAfterTaskDueDate) class="collapsed" #end>
          $r.translate("run.submission.header")
        </a>
      </h4>
      #if($isAfterTaskDueDate)
        <div class="o_meta">$r.translate("run.submission.header.due.date.ended", $submissionDueDate)</div>
      #elseif($submissionDueDateHeaderMessage)
        <div class="o_meta">$submissionDueDateHeaderMessage</div>
      #end
      #if($isFinallySubmitted)
        <div class="o_meta">$r.translate("run.submission.final.submission.date", $finalSubmissionDate)</div>
      #end
    </div>
    <div id="o_step_submission_task_content" class="o_content collapse #if(!$isAfterTaskDueDate) in #end" aria-expanded="$collapse_submission_task" role="region">
      #if($isBeforeStartDate)
        $isBeforeStartDateMessage
      #elseif($isAfterTaskDueDate && !$isFinallySubmitted)
        $isAfterTaskDueDateMessage
      #else
        #if($isFinallySubmitted)
          <div>$r.translate("run.submission.final.submission.done")</div>
        #else
          <div>$r.translate("run.submission.final.submission.pending")</div>
        #end
        <br/>
        <div>$r.render("submissionsTable")</div>
      #end
    </div>
  </div>
</div>
<script>
  jQuery('#o_step_submission_task_content').on('hide.bs.collapse', function () {
    $r.backgroundCommand("hide","step","submission_task")
  }).on('show.bs.collapse', function () {
    $r.backgroundCommand("show","step","submission_task");
  })
</script>
