<legend>$peerReviewQuestionAnswerTitle</legend>
$r.translate("run.peerreview.question.answer.introduction")
<br/><br/>
#if($r.visible("peerReviewQuestionAnswerFeedback"))
  $r.render("peerReviewQuestionAnswerFeedback")
#else
  $r.render("peerReviewQuestionAnswerAssessmentItem")
#end

