<div id="o_qti_container"><div id="o_qti_run">
  <div class="qtiworks o_assessmentitem">
    <div class="o_assessmentitem_wrapper">
      <h4 class="itemTitle">$r.escapeHtml($itemTitle)
        <span class="o_qti_item_meta"></span>
      </h4>
      <div id="itemBody" class="o_qti_item_body clearfix">
        $r.render("userResponseItem")
      </div>

      #if($sampleSolutionText)
        <div class="o_info" style="margin: 0; border-radius: 0;">
          <b>$r.translate("run.peerreview.question.answer.feedback.sampleSolution")</b>
          <br/><hr/>
          $sampleSolutionText
        </div>
      #elseif($r.isTrue($passed))
        <div class="o_practice_correct"><strong>$r.translate("run.peerreview.question.answer.feedback.correct")</strong></div>
      #elseif($r.isFalse($passed))
        <div class="o_practice_incorrect"><strong>$r.translate("run.peerreview.question.answer.feedback.incorrect")</strong></div>
      #end

      #if($r.visible("solutionItem"))
      <div id="solutionBody" class="o_qti_item_body clearfix">
        $r.render("solutionItem")
      </div>
      #end
    </div>
  </div>
</div></div>
