$r.render("run.peerreview.details.back")
<br/>
<br/>
$peerReviewDetailsIntroduction
<br/>
<br/>
<legend>$r.translate("run.peerreview.details.task.description")</legend>
$taskDescription
<br/>
$r.render("peerReviewQuestionAnswer")
<br/>
<br/>
$r.render("peerReviewEvaluation")
