<div class="o_step $peerReviewParticipantCssClass">
  <div class="o_bar"></div>
  <div class="o_step_block">
    <div class="o_header">
      <h4 class="o_title">
        <a href="#o_step_peer_review_participant_content" data-toggle="collapse" aria-expanded="$collapse_peer_review_participant" #if(!$isPeerReviewActive) class="collapsed" #end>
          $r.translate("run.peerreview.participant.header")
        </a>
      </h4>
      #if($isAfterPeerReviewDueDate)
        <div class="o_meta">$r.translate("run.peerreview.participant.header.due.date.ended", $peerReviewDueDate)</div>
      #elseif($peerReviewDueDateHeaderMessage)
        <div class="o_meta">$peerReviewDueDateHeaderMessage</div>
      #end
      #if($isFinallySubmitted)
       <div class="o_meta">$r.translate("run.peerreview.final.confirmation.date", $finalSubmissionDate)</div>
      #end
    </div>
    <div id="o_step_peer_review_participant_content" class="o_content collapse #if($isPeerReviewActive) in #end" aria-expanded="$collapse_peer_review_participant" role="region">
      #if($isMissedSubmissionTaskDueDate)
        $r.translate("run.peerreview.participant.missed.submission.due.date")
      #elseif(!$isPeerReviewAssignmentDone)
        $peerReviewAssignmentNotDoneMessage
      #elseif($isAfterPeerReviewDueDate && !$isFinallySubmitted)
        $isAfterPeerReviewDueDateMessage
      #else
        #if($isCoachParticipantMode && !$isFinallySubmitted)
          <div>$r.translate("run.peerreview.participant.coach.introduction")</div>
        #elseif(!$isFinallySubmitted)
          <div><b>$r.translate("run.peerreview.participant.introduction.title")</b></div>
          <br/>
          <div>$r.translate("run.peerreview.participant.introduction")</div>
        #else
          <div>$r.translate("run.peerreview.final.confirmation.done")</div>
        #end
        <br/>
        <div>$r.render("peerReviewParticipantTable")</div>
        #if(!$isFinallySubmitted && !$isCoachParticipantMode)
          <br/><br/>
          <div><b>$r.translate("run.peerreview.participant.final.confirmation.title")</b></div>
          <br/>
          <div>$r.translate("run.peerreview.participant.final.confirmation.text")</div>
          <br/>
          <div style="margin: 0 auto; display: block; width: 250px">
            $r.render("run.peerreview.participant.final.confirmation.button")
          </div>
        #end
      #end
    </div>
  </div>
</div>
<script>
  jQuery('#o_step_peer_review_participant_content').on('hide.bs.collapse', function () {
    $r.backgroundCommand("hide","step","peer_review_participant")
  }).on('show.bs.collapse', function () {
    $r.backgroundCommand("show","step","peer_review_participant");
  })
</script>
