<fieldset class="o_form form-horizontal o_kprim_choices_editor">
    <div class="form-group clearfix">
        <div class="col-sm-1 col-md-offset-1"><strong>$r.translate("form.imd.correct.kprim")</strong></div>
        <div class="col-sm-1"><strong>$r.translate("form.imd.wrong.kprim")</strong></div>
        <div class="col-sm-9"><strong>$r.translate("answers")</strong></div>
    </div>

    #foreach($choice in $choices)
    <div class="form-group clearfix o_sel_choice_${foreach.index}">
        <div class="col-sm-1">
            #if($r.available(${choice.getUp().getComponent().getComponentName()}) && $r.visible(${choice.getUp().getComponent().getComponentName()}))
            <div>$r.render(${choice.getUp().getComponent().getComponentName()})</div>
            #end
            #if($r.available(${choice.getDown().getComponent().getComponentName()}) && $r.visible(${choice.getDown().getComponent().getComponentName()}))
            <div>$r.render(${choice.getDown().getComponent().getComponentName()})</div>
            #end
        </div>
        <div class="col-sm-1">
            <input type="radio" id="oo_correct-${foreach.count}" name="${choice.getIdentifierString()}" value="correct" #if($restrictedEdit) disabled #end #if(${choice.isCorrect()}) checked #end/>
            $f.appendFlexiFormDirtyForCheckbox("oo_correct-${foreach.count}")
        </div>
        <div class="col-sm-1">
            <input type="radio" id="oo_wrong-${foreach.count}" name="${choice.getIdentifierString()}" value="wrong" #if($restrictedEdit) disabled #end #if(!${choice.isCorrect()}) checked #end/>
            $f.appendFlexiFormDirtyForCheckbox("oo_wrong-${foreach.count}")
        </div>
        <div class="col-sm-9">
            #if($r.visible($choice.answer))
            $r.render(${choice.getAnswer().getComponent().getComponentName()})
            #else
            $r.render(${choice.getAnswerReadOnly().getComponent().getComponentName()})
            #end
        </div>
    </div>
    #end
</fieldset>
