<fieldset class="o_form form-horizontal">
  #if($r.isTrue($scoreWarning))
  <div class="o_warning" role="alert">$r.translate("warning.correct.answer.score")</div>
  #end
  <div class="form-group clearfix">
    <div class="col-sm-1 col-md-offset-1"><strong>$r.translate("correct.answers")</strong></div>
    <div class="col-sm-10"><strong>$r.translate("answers")</strong></div>
  </div>
  #foreach($choice in $choices)
  <div class="form-group clearfix o_sel_choice_${foreach.index}">
    <div class="col-sm-1">
      #if($r.available(${choice.getRemove().getComponent().getComponentName()}) && $r.visible(${choice.getRemove().getComponent().getComponentName()}))
      <div>$r.render(${choice.getRemove().getComponent().getComponentName()})</div>
      #end
      #if($r.available(${choice.getAdd().getComponent().getComponentName()}) && $r.visible(${choice.getAdd().getComponent().getComponentName()}))
      <div class="o_sel_add_choice_${foreach.count}">$r.render(${choice.getAdd().getComponent().getComponentName()})</div>
      #end
      #if($r.available(${choice.getUp().getComponent().getComponentName()}) && $r.visible(${choice.getUp().getComponent().getComponentName()}))
      <div>$r.render(${choice.getUp().getComponent().getComponentName()})</div>
      #end
      #if($r.available(${choice.getDown().getComponent().getComponentName()}) && $r.visible(${choice.getDown().getComponent().getComponentName()}))
      <div>$r.render(${choice.getDown().getComponent().getComponentName()})</div>
      #end
    </div>
    <div class="col-sm-1">
      <input type="radio" id="oo_correct-${foreach.count}" name="correct" value="${choice.getIdentifierString()}" #if($restrictedEdit) disabled #end #if(${choice.isCorrect()}) checked #end/>
      $f.appendFlexiFormDirtyForCheckbox("oo_correct-${foreach.count}")
    </div>
    <div class="col-sm-10">
      #if($r.visible($choice.answer))
      $r.render(${choice.getAnswer().getComponent().getComponentName()})
      #else
      $r.render(${choice.getAnswerReadOnly().getComponent().getComponentName()})
      #end
    </div>
  </div>
  #end
</fieldset>
