<div class="o_step $submissionCssClass">
  <div class="o_bar"></div>
  <div class="o_step_block">
    <div class="o_header">
      <h4 class="o_title">
        <a href="#o_step_submission_task_content" data-toggle="collapse" aria-expanded="$collapse_submission_task" #if($isAfterTaskDueDate) class="collapsed" #end>
          $r.translate("run.submission.header")
        </a>
      </h4>
      #if($isAfterTaskDueDate)
        <div class="o_meta">$r.translate("run.submission.header.due.date.ended", $submissionDueDate)</div>
      #elseif($submissionDueDateHeaderMessage)
        <div class="o_meta">$submissionDueDateHeaderMessage</div>
      #end
      #if($isFinallySubmitted)
        <div class="o_meta">$r.translate("run.submission.final.submission.date", $finalSubmissionDate)</div>
      #end
    </div>
    <div id="o_step_submission_task_content" class="o_content collapse #if(!$isAfterTaskDueDate) in #end" aria-expanded="$collapse_submission_task" role="region">
      #if($isBeforeStartDate)
        $isBeforeStartDateMessage
      #elseif($isAfterTaskDueDate && !$isFinallySubmitted)
        $isAfterTaskDueDateMessage
      #else
        #if($isFinallySubmitted)
            <div>$r.translate("run.submission.final.submitted.introduction")</div>
            <br/>
        #else
            <div><b>$r.translate("run.submission.introduction.title")</b></div>
            <br/>
            <div>$r.translate("run.submission.introduction")</div>
            <br/>
        #end
        <div>$r.render("submissionsTable")</div>
        #if(!$isFinallySubmitted)
            <br/><br/>
            <div><b>$r.translate("run.submission.final.confirmation.title")</b></div>
            <br/>
            <div>$r.translate("run.submission.final.confirmation.description")</div>
            <br/>
            <div>$r.render("run.submission.allow.export.checkbox")</div>
            <br/>
            <div style="margin: 0 auto; display: block; width: 250px">
                $r.render("run.submission.final.confirmation.button")
            </div>
        #end
      #end
    </div>
  </div>
</div>
<script>
  jQuery('#o_step_submission_task_content').on('hide.bs.collapse', function () {
    $r.backgroundCommand("hide","step","submission_task")
  }).on('show.bs.collapse', function () {
    $r.backgroundCommand("show","step","submission_task");
  })
</script>
