<!-- template inspired from OpenOLAT simple_choices.html -->
<fieldset class="o_form form-horizontal">
<div class="form-group clearfix">
  <div class="col-sm-1"></div>
	<div class="col-sm-11"><strong>$r.translate("questioncreation.edit.peerreview.questions.text.header")</strong></div>
</div>
#foreach($reviewQuestionRow in $reviewQuestionRows)
<div class="form-group clearfix o_sel_choice_${foreach.index}">
	<div class="col-sm-1">
		#if($r.available(${reviewQuestionRow.getRemoveLink().getComponent().getComponentName()}) && $r.visible(${reviewQuestionRow.getRemoveLink().getComponent().getComponentName()}))
			<div>$r.render(${reviewQuestionRow.getRemoveLink().getComponent().getComponentName()})</div>
		#end
		#if($r.available(${reviewQuestionRow.getAddLink().getComponent().getComponentName()}) && $r.visible(${reviewQuestionRow.getAddLink().getComponent().getComponentName()}))
			<div class="o_sel_add_choice_${foreach.count}">$r.render(${reviewQuestionRow.getAddLink().getComponent().getComponentName()})</div>
		#end
		#if($r.available(${reviewQuestionRow.getUpLink().getComponent().getComponentName()}) && $r.visible(${reviewQuestionRow.getUpLink().getComponent().getComponentName()}))
			<div>$r.render(${reviewQuestionRow.getUpLink().getComponent().getComponentName()})</div>
		#end
		#if($r.available(${reviewQuestionRow.getDownLink().getComponent().getComponentName()}) && $r.visible(${reviewQuestionRow.getDownLink().getComponent().getComponentName()}))
			<div>$r.render(${reviewQuestionRow.getDownLink().getComponent().getComponentName()})</div>
		#end
	</div>
	<div class="col-sm-11" style="padding-left: 0; padding-right: 0">
    $r.render(${reviewQuestionRow.getValueEl().getComponent().getComponentName()})
    #if($r.isTrue(${reviewQuestionRow.getValueEl().hasError()}))
      <div class="o_error">${reviewQuestionRow.getValueEl().getComponent().getFormItem().getErrorText()}</div>
    #end
	</div>
</div>
#end
</fieldset>
